<section class="section">
  <h2 class="title"><%= t('Edit account') %></h2>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, class: 'label' %>
          <div class="control">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'input is-info', placeholder: 'Nome' %>
          </div>
        </div>

        <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autocomplete: "email", class: 'input is-info', placeholder: 'Email' %>
            </div>
          </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
            <%= f.label :password, class: 'label' %><i><%= t('Blank if dont want change') %></i>
            <div class="control">
              <%= f.password_field :password, autocomplete: "new-password", class: 'input is-info', placeholder: t("Password") + " (#{@minimum_password_length} " + t("Minimum characters") + ")" %>
            </div>
          </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'label' %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-info', placeholder: t('Password confirmation') %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, class: 'label' %> <i><%=  t('Current password to confirm changes') %>.</i><br />
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: t('Current password'), class: 'input is-info' %>
          </div>
        </div>

        <div class="field">
          <div class="actions control">
            <%= f.submit t("Update"), class: 'button is-info' %>
          </div>
        </div>
      <% end %>
      <div>
        <%= button_to t("Cancel my account"), registration_path(resource_name), class: 'button is-light is-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
      <br>
      <div>
        <a href="/" class='button is-light is-info'>
          <%= t('Back') %>
        <a>
      </div>
    </div>
  </div>
</section>