<section class="section">
  <h2 class="title">Faça Login</h2>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true,autocomplete: "email", class: 'input is-info', placeholder: 'Email' %>
            </div>
          </div>

        <div class="field">
          <%= f.label :password, class: 'label' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'input is-info', placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <div class='control'>
              <%= f.label :remember_me, 'Lembrar minha conta', class: 'label' %>
              <%= f.check_box :remember_me, class: 'checkbox' %>
            </div>
          </div>
        <% end %>

        <div class="field is-grouped">
          <div class="actions control">
            <%= f.submit "Entrar", class: 'button is-info' %>
          </div>
          <div class="control">
            <a href="/users/sign_up", class="button is-light is-info">
              Cadastre-se
            </a>
          </div>
          <div class="control">
            <%= link_to "Esqueceu sua senha?", new_user_password_path, :method => :get, class: 'button is-light is-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>