<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @post.cover %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @post.resume %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post.body %>
</p>

<h2>Adicione um comentário:</h2>

<%= render 'commentaries/form' %>


<h2>Comentários:</h2>

<%= render @post.commentaries %>

<br>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
